* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: black;
  text-decoration: none;

  &:hover {
    color: rgb(69, 69, 251);
  }
}