.navBar {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    background: #d4d4d4;
    padding: 0.5rem 2rem;
}

.navItems {
    display: flex;
    gap: 2rem;


}

.navItem {

    color: rgb(22, 22, 22);
}

.navItemActive {

    font-weight: 600;
}